extends layout

block scripts
  script(src='/js/sender.js')

block sidebar
  include sidebar.pug

block content
  div.main.container
    div.row
      div.col-md-6.col-md-offset-3
        h1.display-4.m-b-2 #{title}
        form#alumnoForm()
          div.form-group
            label(for='boleta') Boleta:
            input#boleta.form-control(type='text', name='boleta', value=alumno.boleta, readonly=isBoletaDisabled)
          div.form-group
            label(for='nombre') Nombre(s):
            input#nombre.form-control(type='text', name='nombre', value=alumno.nombre, readonly=areFieldsDisabled)
          div.form-group
            label(for='apellido_paterno') Apellido paterno:
            input#apellido_paterno.form-control(type='text', name='apellido_paterno', value=alumno.apellido_paterno, readonly=areFieldsDisabled)
          div.form-group
            label(for='apellido_materno') Apellido materno:
            input#apellido_materno.form-control(type='text' name='apellido_materno', value=alumno.apellido_materno, readonly=areFieldsDisabled)
          if areFieldsDisabled
          else if isBoletaDisabled 
            button.btn.btn-primary(type='button', onClick='putAlumno()') Editar
          else 
            button.btn.btn-primary(type='button', onClick='putAlumno()') Registrar