extends layout

block scripts
  script(src='/js/sender.js')

block sidebar
  include sidebar.pug

block content
  div.main.container
    div.row
      div.col-md-6.col-md-offset-3
        h1.display-4.m-b-2 #{title}
        form#usuarioForm()
          div.form-group
            label(for='usuario') Usuario:
            input#username.form-control(type='text', name='username', value=usuario.username, readonly=isUsuarioDisabled)
          div.form-group
            label(for='contrasena') Contraseña:
            input#password.form-control(type='password', name='password', value=usuario.password, readonly=areFieldsDisabled)
          if areFieldsDisabled
          else if isUsuarioDisabled 
            button.btn.btn-primary(type='button', onClick='putUsuario()') Editar
          else 
            button.btn.btn-primary(type='button', onClick='postUsuario()') Registrar